<div class="page-header">
    <div class='row'>
        <div class="col-md-7">
            <a title="Autodom, réparation carrosserie et optique à domicile" href="{{ app.request.baseUrl }}/">
                <img src="{{ asset('bundles/app/img/logo-autodom-baseline_100.png') }}" alt="autodom reparation automobile a domicile">
            </a>
            {% if lead_title is not defined %}
            <br/> <br/>
            {% include "AppBundle:Frontend:default_leadtitle.html.twig" %}
            <br/>
            {% else %}
            <br/> <br/>
            {% include lead_title %}
            {% endif %}
        </div>

        <div class="well col-md-4 pull-right" id='floatting-contact'>
            <div class="" style="float:left">
                <h4>Du lundi au samedi, <br/>de 9h00 &agrave; 18h00</H4>

                <p class="lead phone">
                    <strong>0 770 997 151</strong><br/>
                    <i>(Num&eacute;ro non surtax&eacute;)</i>
                </p>

                <a title="Demande de devis débosselage, réparation, rénovation optiques et carrosserie." class="btn btn-info" href="{{ app.request.baseUrl }}/demande-devis">
                    <i class="icon-envelope icon-white"></i>
                    demandez un devis
                </a>
            </div>
            <div id="floatting-image">
                <img src="{{ asset('bundles/app/img/contact-autodom-vaucluse.jpg') }}" alt="contact autodom vaucluse">
            </div>

        </div>
    </div>
    {% if sub_title is defined %}
    {% autoescape false %}

    {{ sub_title }}

    {% endautoescape %}

    {% block sub_title %}{% endblock %}
    {% endif %}
</div>