{% extends "AppBundle:FrontendLayout:base.html.twig" %}

{% block title %}Partenaires{% endblock %}

{% block head %} {{ parent() }} {% endblock %}

{% block body %}

    {{ parent() }}

    {% block header %}
        {% embed 'AppBundle:FrontendLayout:header.html.twig' %}
            {% block header_content %}
                Autodom c'est aussi un r&eacute;seau de partenaires de confiance qui s'inscrivent dans la m&ecirc;me
                d&eacute;marche
                qualit&eacute;. Autant de sp&eacute;cialistes du domaine automobile qui vous proposerons un service
                fiable et une
                relation durable..
            {% endblock %}
            {% block subtitle %}
                <h1>Les partenaires Autodom : un réseau qualité</h1>
            {% endblock %}
        {% endembed %}
    {% endblock %}

    {% block content %}

        <div class="container">
            <div class="row">

                <a class="col-md-3" href="http://www.mtb84.com">
                    <img class="img-rounded img-partners"
                         src="{{ asset('bundles/app/img/partners/logo-partenaire-mtb84.png') }}"/>
                </a>

                <a class="col-md-3" href="http://www.carpolish.fr">
                    <img class="img-rounded img-partners"
                         src="{{ asset('bundles/app/img/partners/logo-partenaire-carpolish.jpg') }}"/>
                </a>

                <a class="col-md-4" href="http://www.simplyconceptauto.com">
                    <img class="img-rounded img-partners"
                         src="{{ asset('bundles/app/img/partners/logo-partenaire-simply.jpg') }}"/>
                </a>

                <a class="col-md-2" href="http://pros.lacentrale.fr/C027726/">
                    <img class="img-rounded img-partners"
                         src="{{ asset('bundles/app/img/partners/logo-partenaire-renault-thor.png') }}"/>
                </a>

                <a class="col-md-3" href="http://www.park-avenue-auto.com">
                    <img class="img-rounded img-partners"
                         src="{{ asset('bundles/app/img/partners/logo-partenaire-parkavenue.jpg') }}"/>
                </a>

                <a class="col-md-6" href="http://www.autoreflex.com/ga-espace-auto-l-isle-sur-la-sorgue-84-VVO4607.htm">
                    <img class="img-rounded img-partners"
                         src="{{ asset('bundles/app/img/partners/logo-partenaire-espaceauto.jpg') }}"/>
                </a>

                <a class="col-md-3" href="http://www.palaisdelauto.fr/">
                    <img class="img-rounded img-partners"
                         src="{{ asset('bundles/app/img/partners//logo-patrtenaire-palais-auto.png') }}"/>
                </a>

            </div>

        </div>
        <br/>
    {% endblock %}

{% endblock %}
