{% extends "AppBundle:FrontendLayout:base.html.twig" %}


{% block head %} {{ parent() }} {% endblock %}

{% block body %}

    {{ parent() }}

    {% block header %}
        {% embed 'AppBundle:FrontendLayout:header.html.twig' %}
            {% block subtitle %}
                <h1>Demandez un devis pour une intervention à votre domicile*</h1>
            {% endblock %}
        {% endembed %}
    {% endblock %}

    {% block content %}
        <div class="container">
            {{ form_start(form) }}
            <div class='row-fluid'>

                <div class='col-md-4'>
                    <div class='control-group well'>
                        {{ form_row(form.baseqr.firstName) }}
                        {{ form_row(form.baseqr.lastName) }}
                        {{ form_row(form.baseqr.email) }}
                        {{ form_errors(form.baseqr.phone) }}
                        {{ form_label(form.baseqr.phone) }}
                        {{ form_widget(form.baseqr.phone) }}
                        <br/>
                        {{ form_label(form.baseqr.address) }}
                        {{ form_widget(form.baseqr.address) }}
                    </div>
                </div>

                <div class='col-md-4'>
                    <div class='control-group well'>
                        {{ form_errors(form) }}
                        {{ form_label(form.baseqr.vehicleModel) }}
                        {{ form_widget(form.baseqr.vehicleModel) }}
                        <br/>
                        {{ form_label(form.quotationRequestServiceRelations) }}
                        <div style="margin-left:40px">
                            {{ form_widget(form.quotationRequestServiceRelations) }}
                        </div>
                        <br/>
                        {{ form_label(form.baseqr.problemDescription) }}
                        {{ form_widget(form.baseqr.problemDescription) }}
                        {{ form_widget(form.baseqr.hasShelter) }}
                    </div>
                </div>

                <div class='col-md-4 col-centered'>
                    <div class='control-group'>
                        {{ form_label(form.baseqr.contactOrigin) }}
                        {{ form_widget(form.baseqr.contactOrigin) }}
                    </div>
                    <br>

                    <div class="row-centered">git config --global credential.helper cache
                        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-info'}}) }}
                    </div>
                    <br>
                    <blockquote class="col-centered">
                        <i>* Nous nous engageons &agrave; ne pas transmettre vos donn&eacute;es
                            à des soci&eacute;t&eacute;s
                            qui souhaiteraient les utiliser à des fins commerciales.
                        </i>
                    </blockquote>
                </div>

                {{ form_end(form) }}

            </div>
        </div>
    {% endblock %}
{% endblock %}
