<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        {% for entity in entities %}
            <div class="item {% if active_item_id == entity.id %}active{% endif %} ">
                <img src="{{ app.request.uriForPath(entity.webPath) }}"
                     alt="{{ entity.damageType }} {{ entity.location }}"/>

                <div class="container">
                    <div class="carousel-caption">
                        {% if display_comments == true %}
                            <span>D&eacute;bosselage sans peinture - {{ entity.damageType }}.</br>
                                {{ entity.vehicleModel }} // {{ entity.location }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
    </div>
</div>




