{% extends "AppBundle:Admin:base.html.twig" %}

{% block body -%}

    <div class="container">
        <div class="page-header">
            <h1>Liste des demandes de devis</h1>
        </div>

        <table class="records_list table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Etat</th>
                <th>Date</th>
                <th>Véhicule</th>
                <th>Descr. problème</th>
                <th>Services</th>
                <th>Prénom/Nom</th>
                <th>Téléphone/Email</th>
                <th>Adresse</th>
                <th>Abri</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>
                        <a href="{{ path('admin_devis_show', { 'id': entity.id }) }}">{{ entity.id }}</a>
                    </td>
                    <td>
                        <span class="label label-{{ qr_status_enum_to_style(entity.status) }}">
                            {{ qr_status_enum_to_label(entity.status) }}
                        </span>
                    </td>
                    <td nowrap>{% if entity.created %}{{ entity.created|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ entity.vehicleModel }}</td>
                    <td>{{ entity.problemDescription }}</td>
                    <td id="data_services_{{ entity.id  }}">
                        {% for subEntity in entity.quotationRequestServiceRelations %}
                            {{ subEntity.businessServiceRef }}
                        {% endfor %}
                    </td>
                    <td>{{ entity.firstname }} {{ entity.lastname }}</td>
                    <td>{{ entity.phone }} <br/>{{ entity.email }}</td>
                    <td>{{ entity.address }}</td>
                    <td class="text-center">
                        {% if entity.hasShelter %}
                            <span class="glyphicon glyphicon-tent" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('admin_devis_show', { 'id': entity.id }) }}">Voir</a>
                            </li>
                            <li>
                                <a href="{{ path('admin_devis_edit', { 'id': entity.id }) }}">Editer</a>
                            </li>
                            <li>
                                <div id="loading_{{entity.id }}" style="display:none">...</div>
                                <button id="{{entity.id }}"  class="replay-email" type="button">Rejouer</button>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        </ul>
    </div>

    <script type="text/javascript">
        $(document).ready(function(){
            $(document).on('click', ".replay-email", function(e){
                entity_id =$(this)[0].id;
                data_services=$('#data_services_'+entity_id)[0].innerText;
                $(this).hide();$('#loading_'+entity_id).show();
                e.preventDefault();

                $.ajax({
                    method: 'POST',
                    url: "{{ path('replay_email') }}",
                    data: { 'id': entity_id , 'data_services' : data_services},
                    success: function(responseData){
                        console.log("mail sent successfully");
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(xhr.status);
                        console.log(xhr.responseText);
                        console.log(thrownError);
                    },
                    complete: function(jqXHR, textStatus ){
                        console.log(jqXHR);
                        $('#loading_'+entity_id).hide();$('#'+entity_id).show();
                    }
                })
            });
        });

    </script>

{% endblock %}
