{% extends "AppBundle:Admin:base.html.twig" %}

{% block body -%}

    <div class="container">
        <div class="page-header">
            <h1>Demande de devis #{{ entity.id }}</h1>
        </div>

        <table class="record_properties table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Véhicule</th>
                <td>{{ entity.vehicleModel }}</td>
            </tr>
            <tr>
                <th>Description du problème</th>
                <td>{{ entity.problemDescription }}</td>
            </tr>
            <tr>
                <th>Abri</th>
                <td>{{ entity.hasShelter }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ entity.firstname }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entity.lastname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ entity.phone }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ entity.address }}</td>
            </tr>
            <tr>
                <th>comment vous nous avez trouvé ?</th>
                <td>{{ co_status_enum_to_label(entity.contactOrigin) }}</td>
            </tr>
            <tr>
                <th>Créé le</th>
                <td>{{ entity.created|date('Y-m-d H:i') }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>
                    <span class="label label-{{ qr_status_enum_to_style(entity.status) }}">
                            {{ qr_status_enum_to_label(entity.status) }}
                    </span>
                </td>
            </tr>
            </tbody>
        </table>

        <ul class="record_actions">
            <li>
                <a href="{{ path('admin_devis') }}" class="btn btn-default">
                    Retour à la liste
                </a>
            </li>
            <li>
                <a href="{{ path('admin_devis_edit', { 'id': entity.id }) }}" class="btn btn-default">
                    Editer
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>
    </div>
{% endblock %}
